<h4>The List of Contacts</h4>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Number of Messages</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td>{{contact.id}}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.mobile}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.message}}</td>
            <td>
                <a href="/admin/contacts/{{contact.id}}" class="btn btn-primary" >Show</a>
                <a href="/admin/contacts/{{contact.id}}/edit" class="btn btn-primary" >Edit</a>
                <a href="/admin/contacts/{{contact.id}}/delete" class="btn btn-danger" >Delete</a>
            </td>
        </tr>
    </tbody>
</table>