<br>
<h3>Welcome to the University of England (UOE)!</h3>

<app-banner [dataImage]="images"></app-banner>

<div class="container">

    <br>
    <div class="row">
        <div class="col">
            <app-card title="The Alumni Connection"></app-card>
        </div>
        <div class="col">
            <app-card title="Login">
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com">
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="yourpassword">
                      </div>    
                      <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </app-card>
        </div>
        <div class="col">
            <app-card title="The Student Center"></app-card>
        </div>
    </div>
</div>