<div class="container">

    <br>
    <p>The <b style="color: green;">University of England (UOE)</b> is one of the oldest universities in the world and definitely in England. It was founded by Lord Thomas Bolder in 1545.
     UOE is a fully accredited university and it ranks in the <span style="color: green;">"Top Best 250 Colleges and Univeristies"</span> in the world.</p>
    
    <p>Although UOE is mainly a liberal arts university, it does offer a few Bachelor of Science degrees such as in Biomedical Engineering,
    Computer Science, Mechanical Engineering and Electrical Engineering. UOE also offers Law degrees and it has a Medical School.
    </p>

</div>

