<div class="container mb-5">
  <h1>Welcome to the Students Dashboard</h1>
  <p>This is where you can find all your courses, assignments, and grades.</p>
 
  <app-card class="mb-3" title="All My Courses">
    <div class="row">
        <div class="col-md-4">
            <course-card></course-card>
        </div>
        <div class="col-md-4">
            <course-card></course-card>
        </div>
        <div class="col-md-4">
            <course-card></course-card>
        </div>
    </div>
  </app-card>
 
  <div class="row">
    <div class="col-md-6">
      <app-card title="My Tutors">
        <div class="row">
            <div class="col-md-4 text-center">
                <tutor-card></tutor-card>
            </div>
            <div class="col-md-4 text-center">
                <tutor-card></tutor-card>
            </div>
            <div class="col-md-4 text-center">
                <tutor-card></tutor-card>
            </div>
        </div>
      </app-card>
    </div>
    <div class="col-md-6">
      <app-card title="My Assignments">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">A fifth item</li>
            <li class="list-group-item">A sixth item</li>
            <li class="list-group-item">A seventh item</li>
        </ul>
      </app-card>
    </div>
  </div>
</div>
 