<h4>These are the Course Details of the Course to be deleted</h4>
<br>
<div *ngIf="course">
    <p><b>Id:</b> {{course.courseId}}</p>
    <p><b>Course Name:</b> {{course.courseName}}</p>
    <p><b>Course Faculty Member:</b> {{course.courseFacultyMember}}</p>
    <p><b>Initial Number of Students Enrolled:</b> {{course.initialNumOfStudentsEnrolled}}</p>
    <br>

    <h4>Are you sure you want to delete this Course?</h4>
    <button class="btn btn-danger" (click)="deleteCourse(course.courseId)">Delete</button>
    <a href = "/admin/courses" class="btn btn-primary">Cancel</a>
</div>