<div class="container">
    <app-card title="Admin Dashboard">
        <div class="row">
            <div class="col-md-4">
                <app-card title="Faculty Section" subtitle="Manage Faculty Data">
                    <div class="btn-group">
                    <a href="/admin/faculty" class="btn btn-primary">View Faculty Members</a>
                    <a href="/admin/faculty/create" class="btn btn-success">Add a Faculty Member</a>
                    </div>
                </app-card>
            </div>
            <div class="col-md-4">
                <app-card title="Students Section" subtitle="Manage Students Data">
                    <div class="btn-group">
                    <a href="/admin/students" class="btn btn-primary">View Students</a>
                    <a href="/admin/students/create" class="btn btn-success">Add a Student</a>
                    </div>
                </app-card>
            </div>
            <div class="col-md-4">
                <app-card title="Contacts Section" subtitle="Manage Contacts Data">
                    <div class="btn-group">
                    <a href="/admin/contacts" class="btn btn-primary">View Contacts</a>
                    <a href="/admin/contacts/create" class="btn btn-success">Add a Contact</a>
                    </div>
                </app-card>
            </div>
            <div class="col-md-4">
                <app-card title="Contacts Section" subtitle="Manage Contacts Data">
                    <div class="btn-group">
                    <a href="/admin/contacts" class="btn btn-primary">View Contacts</a>
                    <a href="/admin/contacts/create" class="btn btn-success">Add a Contact</a>
                    </div>
                </app-card>
            </div>
            <div class="col-md-4">
                <app-card title="Staff Section" subtitle="Manage Staff Data">
                    <div class="btn-group">
                    <a href="/admin/staff" class="btn btn-primary">View Staff</a>
                    <a href="/admin/contacts/create" class="btn btn-success">Add a Staff Member</a>
                    </div>
                </app-card>
            </div>
        </div>
    </app-card>

</div>
