<div class="container">

    <h4>Please find below the list of courses at the University of England</h4>
    <br>

    <b>Popular Courses</b>
    <br>

    <div>
        <ul>
            @for(course of courses; track course){
                <li>{{course.courseName}}</li>
            }
        </ul>

    </div>

    <b>English Literature Courses</b>
    <ul>
        <li>Introduction to Literary Genres</li>
        <li>Literary Theory and Criticism</li>
        <li>Literary Periods and Movements</li>
        <li>Creative Writing</li>
        <li>Linguistics</li> 
        <li>Editing and Publishing</li>
        <li>Book History</li>
        <li>Film Analysis</li>
    </ul>

    <b>Political Science Courses</b>
    <ul>
        <li>Introduction to Politics</li>
        <li>American National Government</li>
        <li>International Relations</li>
        <li>Public Policy</li> 
        <li>Political Theory/Philosophy</li>
        <li>Political Methodology/Statistics</li>
        <li>Specific Regional or Topic Courses</li>
    </ul>

    <b>Math Courses</b>
    <ul>
        <li>Calculus I</li>
        <li>Calculus II</li>
        <li>Multi-Variable Calculus</li>
    </ul>

    <b>Computer Science Courses</b>
    <ul>
        <li>Introduction to Computer Science</li>
        <li>Object-Oriented Programming (OOP) in Java</li>
        <li>Data Structires and Algorithms</li>
        <li>Discrete Math</li>
        <li>Math for Computer Science</li>
    </ul>

</div>